@use "sass:color";
@use "../variables" as *;
@use "../libs/normalize" as normalize;

$bg-light: #f9f9f9;
$bg-dark: #282828;

@mixin button-styles($bg) {
  background-color: $bg;
  padding: 13px 30px;
  border-radius: 30px;
  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  @include normalize.noselect();

  &:hover {
    background-color: color.adjust($bg, $lightness: -2%);
  }

  &:active {
    background-color: color.adjust($bg, $lightness: -5%);
  }
}

body.dark {
  .categories li {
    @include button-styles($bg-dark);

    &.active {
      background-color: $toggle-color;
    }
  }
}

.categories {
  ul {
    display: flex;

    li {
      @include button-styles($bg-light);

      &.active {
        background-color: $bg-dark;
        color: #fff;
      }

      @media (max-width: 768px) {
        padding: 8px 20px;
      }
    }
  }
}
