@import "../variables";

.pizza-block {
  width: 300px;
  text-align: center;
  margin-bottom: 65px;
  display: flex;
  flex-direction: column;
  transition: all 0.4s;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;

  &:not(:nth-of-type(4n)) {
    margin-right: 35px;
  }

  &:hover {
    box-shadow: 0px 0px 14px -2px #9c9c9c;
    transition: all 0.4s;
  }

  &__image {
    // width: 260px;
    // margin-bottom: 10px;
  }

  &__info {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 0px;
    border-color: #f3f3f3;
    border-style: solid;
    padding: 10px 15px 20px;
  }

  &__title {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1%;
    margin-bottom: 20px;
  }

  &__choice {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__selector {
    display: flex;
    background-color: #f3f3f3;
    border-radius: 10px;
    flex-direction: column;
    padding: 6px;

    ul {
      display: flex;
      flex: 1;

      &:first-of-type {
        margin-bottom: 6px;
      }

      li {
        padding: 8px;
        flex: 1;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        @include noselect();
        &.active {
          background: #ffffff;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
          border-radius: 5px;
          cursor: auto;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }
}
