.react-toggle {
  align-self: center;

  @media (max-width: 720px) {
    position: absolute;
    right: 0;
    top: 35px;
  }

  &.react-toggle--checked {
    .react-toggle-track {
      background-color: #ff6347;
    }
    &:hover:not(.react-toggle--disabled) {
      .react-toggle-track {
        background-color: #c75743;
      }
    }
  }

  .react-toggle-track {
    position: relative;
  }

  .react-toggle-track-check {
    top: 8px;
    left: 4px;
  }
  .react-toggle-track-x {
    top: 9px;
    right: 16px;
  }
}
