.containerError {
  max-width: 7500px;
  margin: 0 auto;
}

.error {
  margin: 60px auto;
  max-width: 600px;
  width: 100%;
  text-align: center;

  h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;

    @media (max-width: 670px) {
      font-size: 30px;
    }
  }

  p {
    font-size: 20px;
    line-height: 145.4%;
    letter-spacing: 0.01em;
    color: #777777;

    @media (max-width: 670px) {
      font-size: 16px;
    }
  }

  span {
    position: relative;
    top: 2px;
  }
}
