$black: #232323;

$background: #ffdf8c;

$gray-line: #f6f6f6;
$orange: #fe5f1e;

$container-width: 90%;

$duration: 0.15s;

//*** DARK THEME ***//
$dark-background: #1a1a1a;

$gray-dark: #444;

$toggle-color: #ff6347;
$toggle-hover-color: #c75743;

$dark-border: #333;

$dark-text: #e0e0e0;
$dark-subtext: #b0b0b0;
